body{
    background-color: forestgreen;  
    color: white;
    font-family: "Oswald", system-ui;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
    }

button {
    background-color: seagreen;
}
